<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./resoruces//style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <div class="container">
      <div class="pokedex-container">
        <header class="row">
          <div class="pokedex-logo">
            <img src="./resoruces/images/master.png" alt="ball-logo" />
          </div>
          <a href="">POKEDEX</a>
        </header>
        <main>
          <div class="row-center">
            <div class="card">
              <div class="poke-name">
                <img src="./resoruces/images/fire.png" />
                <span>CHARIZARD</span>
              </div>
              <div class="pokemon-sprite">
                <img src="./resoruces/images/charizard.png" />
              </div>
            </div>
            <div>
              <div class="pokemon-info"></div>
            </div>
          </div>
        </main>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
