html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background: #a6a6a6;
}

/* span {
  font-size: 18px;
} */

.container {
  height: 90%;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

/* Layout */
.pokedex-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 90%;
  background: #595959;
  border-radius: 10px;
}

header {
  grid-area: header;
  background: #000;
  border-radius: 10px 10px 0 0;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  grid-area: main;
  padding: 1rem;
}

header a {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.pokedex-logo > img {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.row-center {
  display: flex;
  flex-direction: column;
}

.card {
  margin: auto;
  background: #fff;
  border-radius: 10px;
}

.poke-name {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  left: 0px;
}

.poke-name > img {
  width: 20px;
  height: 20px;
}

.poke-name > span {
  font-size: 18px;
  font-weight: bold;
}

.pokemon-sprite {
  display: flex;
  justify-content: center;
  position: relative;
}

.pokemon-sprite > img {
  width: 287px;
  height: 258px;
  z-index: 999;
}

.data-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 220px;
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-left: 40px;
  padding: 20px 0 20px 0;
}

.data-info > div > span {
  padding: 5px;
  font-weight: bold;
}

.data-value > span {
  padding: 5px;
}

footer {
  display: grid;
  grid-area: footer;
  background-color: #fff;
  height: 100px;
  border-radius: 0 0 10px 10px;
}

.footer-title {
  text-align: center;
  font-weight: bold;
}

.other-pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 10px;
  margin: auto;
}

.card1 {
  width: 60px;
  height: 60px;
  background-color: #a6a6a6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 5px 0;
}

.card1:hover {
  background-color: #595959;
  cursor: pointer;
}

.card-link > img {
  width: 42px;
  height: 42px;
}

.card1 > img {
  width: 42px;
  height: 42px;
}

@media (min-width: 320px) {
  body {
    height: 80vh;
  }

  .pokedex-container {
    height: 80vh;
  }

  header {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 240px;
    height: 40px;
  }

  .pokemon-sprite > img {
    width: 187px;
    height: 168px;
  }

  .data-info {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    position: relative;
    top: 90px;
    padding: 40px 0 0 20px;
    text-align: left;
    font-size: 14px;
    column-gap: 20px;
  }

  .data-text {
    margin: 20px;
  }

  footer {
    height: 165px;
    border-radius: 0 0 10px 10px;
  }

  .other-pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  body {
    height: 90vh;
  }
  .pokedex-container {
    height: 90vh;
  }

  header {
    justify-content: flex-start;
    align-items: center;
  }

  .row-center {
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
  }

  .card {
    height: 40px;
    margin: 0 auto;
  }

  .pokemon-sprite > img {
    width: 300px;
    height: 340px;
  }

  .data-info {
    width: 240px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    position: initial;
    column-gap: 20px;
  }

  .data-text {
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    color: #a6a6a6;
  }

  footer {
    height: 82px;
    border-radius: 0 0 10px 10px;
  }

  .other-pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-title {
    margin: auto;
  }
}

@media (min-width: 900px) {
  body {
    height: 90vh;
  }
  .pokedex-container {
    height: 90vh;
  }

  header {
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    width: 240px;
    height: 40px;
  }

  .pokemon-sprite > img {
    width: 300px;
    height: 340px;
  }

  footer {
    height: 82px;
    border-radius: 0 0 10px 10px;
  }

  .other-pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
